html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
canvas#gameCanvas {
    display: block;
    /* evitar barras de scroll pequeñas */
    max-width: 100%;
    max-height: 100%;
    /* hace que los pixels se escalen nítidos cuando corresponde */
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}
